# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [30]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
spaceship.shape

(8693, 14)

**Check for data types**

In [4]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

**Check for missing values**

In [5]:
spaceship.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [8]:
spaceship_cleaned = spaceship.dropna()
spaceship_cleaned

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [10]:
spaceship_cleaned['Cabin'].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
      dtype=object)

In [13]:
cabins = spaceship_cleaned['Cabin']

In [16]:
spaceship_cleaned['Cabin'] = spaceship_cleaned['Cabin'].apply(lambda x: x[0])
spaceship_cleaned

C:\Users\leube\AppData\Local\Temp\ipykernel_14244\3256777507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_cleaned['Cabin'] = spaceship_cleaned['Cabin'].apply(lambda x: x[0])

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

- Drop PassengerId and Name

In [18]:
spaceship_cleaned_new = spaceship_cleaned.drop(columns=['PassengerId'], axis=1)

In [20]:
spaceship_cleaned_new1 = spaceship_cleaned_new.drop(columns=['Name'], axis=1)

- For non-numerical columns, do dummies.

In [23]:
spaceship_cleaned_new2 = pd.get_dummies(spaceship_cleaned_new1, columns=['HomePlanet', 'CryoSleep', 'Cabin', 'VIP', 'Transported', 'Destination'])

**Perform Train Test Split**

In [24]:
spaceship_cleaned_new2

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,...,Cabin_F,Cabin_G,Cabin_T,VIP_False,VIP_True,Transported_False,Transported_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,39.0,0.0,0.0,0.0,0.0,0.0,False,True,False,True,...,False,False,False,True,False,True,False,False,False,True
1,24.0,109.0,9.0,25.0,549.0,44.0,True,False,False,True,...,True,False,False,True,False,False,True,False,False,True
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,True,False,True,...,False,False,False,False,True,True,False,False,False,True
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,True,False,True,...,False,False,False,True,False,True,False,False,False,True
4,16.0,303.0,70.0,151.0,565.0,2.0,True,False,False,True,...,True,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,False,True,False,True,...,False,False,False,False,True,True,False,True,False,False
8689,18.0,0.0,0.0,0.0,0.0,0.0,True,False,False,False,...,False,True,False,True,False,True,False,False,True,False
8690,26.0,0.0,0.0,1872.0,1.0,0.0,True,False,False,True,...,False,True,False,True,False,False,True,False,False,True
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,False,True,False,True,...,False,False,False,True,False,True,False,True,False,False
8692,44.0,126.0,4688.0,0.0,0.0,12.0,False,True,False,True,...,False,False,False,True,False,False,True,False,False,True

In [26]:
X = spaceship_cleaned_new2.drop('Age', axis=1)
y = spaceship_cleaned_new2['Age']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
print("X_train:\n", X_train)
print("X_test:\n", X_test)
print("y_train:\n", y_train)
print("y_test:\n", y_test)

X_train:
       RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  HomePlanet_Earth  \
7832          0.0     1673.0           0.0   642.0   612.0             False
5842          0.0     2624.0        1657.0  2799.0     1.0             False
3928          0.0        0.0           0.0     0.0     0.0             False
4091          0.0        0.0           0.0     0.0     0.0              True
7679          0.0        0.0           0.0     0.0     0.0              True
...           ...        ...           ...     ...     ...               ...
4984          0.0        0.0           0.0     0.0     0.0             False
6864         28.0      194.0           2.0     0.0   370.0              True
6919          0.0      115.0           0.0  1823.0  4041.0             False
7137          0.0       21.0           0.0  1503.0  1392.0             False
1162          0.0        0.0         863.0    33.0     2.0              True

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_False  CryoSleep_True  \
7832               True            False             True           False
5842               True            False             True           False
3928              False             True            False            True
4091              False            False            False            True
7679              False            False            False            True
...                 ...              ...              ...             ...
4984               True            False            False            True
6864              False            False             True           False
6919               True            False             True           False
7137               True            False             True           False
1162              False            False             True           False

      ...  Cabin_F  Cabin_G  Cabin_T  VIP_False  VIP_True  Transported_False  \
7832  ...    False    False    False       True     False               True
5842  ...    False    False    False       True     False               True
3928  ...     True    False    False       True     False              False
4091  ...    False     True    False       True     False              False
7679  ...    False     True    False       True     False              False
...   ...      ...      ...      ...        ...       ...                ...
4984  ...    False    False    False       True     False              False
6864  ...     True    False    False       True     False              False
6919  ...    False    False    False       True     False               True
7137  ...    False    False    False      False      True               True
1162  ...     True    False    False       True     False              False

      Transported_True  Destination_55 Cancri e  Destination_PSO J318.5-22  \
7832             False                     True                      False
5842             False                    False                      False
3928              True                     True                      False
4091              True                     True                      False
7679              True                    False                       True
...                ...                      ...                        ...
4984              True                     True                      False
6864              True                    False                       True
6919             False                    False                      False
7137             False                     True                      False
1162              True                    False                      False

      Destination_TRAPPIST-1e
7832                    False
5842                     True
3928                    False
4091                    False
7679                    False
...                       ...
4984                    False
6864                    False
6919                     True
7137                    False
1162                     True

[5284 rows x 25 columns]
X_test:
       RoomService  FoodCourt  ShoppingMall    Spa  VRDeck  HomePlanet_Earth  \
8441          0.0        0.0           0.0    0.0     0.0             False
8058          0.0        0.0           0.0    0.0     0.0              True
320           0.0        0.0           0.0    0.0     0.0              True
2548          0.0        0.0           0.0    0.0     0.0              True
8027        210.0        3.0         601.0    1.0    68.0              True
...           ...        ...           ...    ...     ...               ...
7668          0.0        0.0           0.0    0.0     0.0              True
1697          0.0      169.0           0.0  553.0     0.0              True
546           0.0        0.0           0.0    0.0     0.0             False
4895          0.0        0.0           0.0    0.0     0.0             False
875           0.0        0.0         871.0    0.0     0.0              True

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_False  CryoSleep_True  \
8441               True            False            False            True
8058              False            False            False            True
320               False            False            False            True
2548              False            False             True           False
8027              False            False             True           False
...                 ...              ...              ...             ...
7668              False            False             True           False
1697              False            False             True           False
546                True            False            False            True
4895               True            False            False            True
875               False            False             True           False

      ...  Cabin_F  Cabin_G  Cabin_T  VIP_False  VIP_True  Transported_False  \
8441  ...    False    False    False       True     False              False
8058  ...    False     True    False       True     False              False
320   ...    False     True    False       True     False              False
2548  ...    False     True    False       True     False               True
8027  ...    False     True    False       True     False               True
...   ...      ...      ...      ...        ...       ...                ...
7668  ...    False     True    False       True     False              False
1697  ...     True    False    False       True     False               True
546   ...    False    False    False       True     False              False
4895  ...    False    False    False       True     False              False
875   ...    False    False    False       True     False              False

      Transported_True  Destination_55 Cancri e  Destination_PSO J318.5-22  \
8441              True                    False                      False
8058              True                     True                      False
320               True                    False                      False
2548             False                     True                      False
8027             False                    False                      False
...                ...                      ...                        ...
7668              True                     True                      False
1697             False                     True                      False
546               True                    False                      False
4895              True                     True                      False
875               True                    False                      False

      Destination_TRAPPIST-1e
8441                     True
8058                    False
320                      True
2548                    False
8027                     True
...                       ...
7668                    False
1697                    False
546                      True
4895                    False
875                      True

[1322 rows x 25 columns]
y_train:
 7832    25.0
5842    36.0
3928    34.0
4091    37.0
7679    22.0
        ...
4984    31.0
6864    22.0
6919    25.0
7137    40.0
1162    27.0
Name: Age, Length: 5284, dtype: float64
y_test:
 8441    29.0
8058    13.0
320     50.0
2548     6.0
8027    37.0
        ...
7668     4.0
1697    23.0
546     18.0
4895    32.0
875     30.0
Name: Age, Length: 1322, dtype: float64

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [31]:
knn = KNeighborsRegressor(n_neighbors=10)

In [32]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

- Evaluate your model's performance. Comment it

In [33]:
print(f"The R2 of the model on the TEST set is: {knn.score(X_test, y_test): .2f}")

The R2 of the model on the TEST set is:  0.11